<!doctype html>
<html>
<head>
    <title>MoodExp统计分析</title>
</head>
<body>
<table border="1px" style="border-collapse:collapse">
    <caption>MoodExp统计分析</caption>
    <tr>
        {% for item in ['序号','姓名','学号／用户名','电话','最后心跳','最近心跳','最新版本','最后提交问卷','最近提交问卷','已提交问卷','最后上传','最近上传','已上传'] %}
            <th>{{ item }}</th>
        {% endfor %}
    </tr>
    {% for student in students %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ student.name if student.name is not none }}</td>
            <td>{{ student.id }}</td>
            <td>{{ student.phone if student.phone is not none }}</td>
            <td>{{ student.latest_heartbeat if student.latest_heartbeat is not none }}</td>
            <td>{{ student.recent_heartbeats|join('</br>'|safe) }}</td>
            <td>{{ student.latest_version if student.latest_version is not none }}</td>
            <td>{{ student.latest_survey if student.latest_survey is not none }}</td>
            <td>{{ student.recent_surveies|join('</br>'|safe) }}</td>
            <td>{{ student.survey_count if student.survey_count is not none }}</td>
            <td>{{ student.latest_upload if student.latest_upload is not none }}</td>
            <td>{{ student.recent_uploads|join('</br>'|safe) }}</td>
            <td>{{ student.upload_count if student.upload_count is not none }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
